
  .container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-height: 500px;
    overflow: auto;
  }
  
  .fillter {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .addbutton{
    margin-right: 15%;
  }

  .btn-add{
    color: #0099CC; 
    background-color: transparent; 
    border: 2px solid #0099CC; 
    border-radius: 5px; 
    text-transform: uppercase; 
  }   

  .btn-delete{
    color:red; 
    background-color: transparent; 
    border: 2px solid red; 
    border-radius: 5px; 
    text-transform: uppercase; 
  }

  .btn-modify{
    color:blue; 
    background-color: transparent; 
    border: 2px solid blue; 
    border-radius: 5px; 
    text-transform: uppercase; 
  }

  .btn-display{
    color:green; 
    background-color: transparent; 
    border: 2px solid green; 
    border-radius: 5px; 
    text-transform: uppercase; 
  }

  th{
    text-align: center !important;
  }

  #th-name{
    text-align: left !important;
  }

  .table-data{
    text-align: center
  }

  tr:hover { 
    background-color: #e0ebeb;
}

.mat-column-select {
  overflow: visible;
}