/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-height: 600px;
    overflow: auto;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .addbutton{
    margin-right: 15%;
  }

  .btnadd{
    background-color:mediumspringgreen;
    color: white;
}   