<th>Load data from mockup API:</th>
<br>
<div class="fillter">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>

<div class="container">
    <table mat-table #table [dataSource]="dataSource" class="table-data">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef id="th-name"> Name </th>
            <td mat-cell *matCellDef="let employee" style="text-align: left" > {{employee.name}} </td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let employee; let i = index"> {{employee.age}} </td>               
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let employee"> {{employee?.status}} </td>
        </ng-container>

        <!-- Create At  Column -->
        <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef> Create At </th>
            <td mat-cell *matCellDef="let employee"> {{employee?.created |date:'dd-MM-yyyy'}} </td>
        </ng-container>

        <!-- Select Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Select </th>
            <td mat-cell *matCellDef="let employee">
                <mat-checkbox               
                (change)="Onchange($event, employee, employee.id, employee.name, isChecked)" 
                [checked]="HasSelectedGreaterOne(employee, false)">
                </mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<br>
<div align="right" class="addbutton">
    <button mat-button class="btn-display" [disabled]="isChecked" [routerLink]="['/employee-detail',idChecked]">Display</button>
    &nbsp;
    <button mat-raised-button class="btn-modify" [disabled]="isChecked" [routerLink]="['/employee-edit',idChecked]">Edit</button>
    &nbsp;
    <button mat-raised-button class="btn-delete" [disabled]="isChecked" (click)="DeleteDialog(idChecked)">Delete</button>
    &nbsp;
    <button mat-raised-button color="" class="btn-add" [routerLink]="['/employee-add']">Add</button>
</div>