<th>Add New Employee:</th>
<br>
<div class="container">
    <form class="formwidth" #addEmployeeForm="ngForm" (ngSubmit)="SaveForm()">
        <div class="example-container">
            <mat-form-field>
                <input matInput #nameLength type="text" name="name" [(ngModel)]="employee.name" minlength="2" maxlength="20" required autofocus
                    #name="ngModel" pattern="[a-zA-Z ]*" placeholder="Name" />
                <mat-hint align="end">{{nameLength.value?.length || 0}}/20</mat-hint>
                <mat-error *ngIf="name.invalid">Invalid name</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput #ageLength type="number" name="age" [(ngModel)]="employee.age" #age="ngModel" required placeholder="Age"
                />
                <mat-hint align="end">{{ageLength.value?.length || 0}}/20</mat-hint>
                <div>
                    <mat-error *ngIf="employee.age <1 || employee.age >99 || age.invalid">Age must be greater than 0 and less than 100</mat-error>
                </div>
            </mat-form-field>
        </div>
        <br>
        <div class="form-group form-check">
            <B>Status:</B>
            <input class="form-check-input" type="checkbox" name="status" ngModel [(ngModel)]="employee.status" />
        </div>
        <br>
        <div class="buttoncolor">
            <button mat-raised-button class="btn-save" type="submit" [disabled]="name.invalid || age.invalid">Save</button>
            &nbsp;
            <button mat-button class="btn-cancel" type="button" (click)="goToEmployee()">Cancel</button>
        </div>
    </form>
</div>