.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
   align-items: center;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  .formwidth{
    border: black;
    width: 30%;
    padding: 8px 100px;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  
  :host {
    display: block;
    font-size: '20';
    font-family:  'Times New Roman', Times, serif;
  } 
      
  .buttoncolor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .high-body{
    width: 100%;
    height: 200%;
    margin-bottom: 15%;
  }
  