<form class="formwidth" [formGroup]="loginForm" method="POST" (ngSubmit)="CheckLogin(loginForm.value)">

    <div class="container">
        <mat-form-field>
            <input matInput placeholder="Enter your email" autofocus formControlName="email">
            <mat-error>
                <ng-template [ngIf]="loginForm.controls.email?.errors?.required">
                    Email is required.
                </ng-template>
                <ng-template [ngIf]="loginForm.controls.email?.errors?.email && loginForm.controls.email?.errors?.pattern">
                    Invalid Email
                </ng-template>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password' " formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error>
                <ng-template [ngIf]="loginForm.controls.password?.errors?.required">
                    Password is required.
                </ng-template>
                <ng-template [ngIf]="loginForm.controls.password?.errors?.pattern">
                    Invalid Password
                </ng-template>
            </mat-error>
        </mat-form-field>
        <br>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
            </label>
        </div>
        <br>
        <div class="buttoncolor">
            <button mat-raised-button color="primary" [disabled]="loginForm.invalid" type="submit">Submit</button>
        </div>
    </div>
</form>