#header {
    background: #3f51b5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}

#footer {
    bottom:0;
    width:100%;
    height:80px;   
    background: #3f51b5;
 }

#body {
    padding:10px;
    padding-bottom:10px;  
    display: flex;
    flex-direction: column;
    flex: 1; 
    min-height:720px;  
 }

 #container {
    min-height:100%;
    position:relative;
 }

 .item-footer{
    align-items: center;
    color: #fff;
    font-style: italic;
}

.colorbutton{
    color:aliceblue;
}

.classOne{
    color: blue;
}

.classTwo{
    color: brown;
}

input.ng-invalid {
    border-left-color: red;
    border-left-width: 0.2cm;
}

input.ng-valid {
    border-left-color: lightgreen;
    border-left-width: 0.2cm;
}

:host {
    display: block;
    font-size: '20';
    font-family:  'Times New Roman', Times, serif;
  }     

.docs-navbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}





