#table {
    border-collapse: collapse;
    width: 60%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

/*
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}
*/

.mat-button{
    background-color: #00ff00;
    border: 1px solid rgb(141, 137, 137);
}   

.mat-raised-button{
    border: 1px solid #ddd;
}

.container{
    border: black;
    width: 80%;
    padding: 8px 100px;
  }

  .btn-goback{
    color:green; 
    background-color: transparent; 
    border: 2px solid green; 
    border-radius: 5px; 
    text-transform: uppercase; 
  }