#customers {
    font-family: "Times New Roman", Times, serif;
    border-collapse: collapse;
    width: 60%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
/*
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}
*/
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.mat-button{
    background-color: #00ff00;
    border: 1px solid rgb(141, 137, 137);
}   

.mat-raised-button{
    border: 1px solid #ddd;
}

.container{
    border: black;
    width: 80%;
    padding: 8px 100px;
  }