<th>Employee Detail: </th>
<br>
<div class="container">
    <table id="table" *ngIf="user">
        <tr>
            <td>
                <B>Id</B>
            </td>
            <td> {{user?.id}}</td>
        </tr>
        <tr>
            <td>
                <B>Name</B>
            </td>
            <td> {{user?.username}}</td>
        </tr>
        <tr>
            <td>
                <B>Age</B>
            </td>
            <td> {{user?.age}}</td>
        </tr>
        <tr>
            <td>
                <B>Status</B>
            </td>
            <td> {{user?.status}}</td>
        </tr>
        <tr>
            <td>
                <B>Create At</B>
            </td>
            <td> {{user?.date|date:'dd-MM-yyyy'}}</td>
        </tr>
    </table>
</div>
<br>
<button mat-raised-button color="" [routerLink]="['overview']">Overview</button>
&nbsp;
<button mat-raised-button color="" [routerLink]="['projects']">Projects</button>
&nbsp;
<button mat-button class="btn-goback" [routerLink]="['/employee']">Go back</button>

<router-outlet>

</router-outlet>