.mat-button{
    background-color: lawngreen;
    border: 1px solid rgb(141, 137, 137);
    color: black;
}   

.mat-raised-button{
  background-color:rgb(202, 202, 171);
    border: 1px solid #ddd;
    color: black;
} 
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  .formwidth{
    border: black;
    width: 500px;
    padding: 8px 100px;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  
  :host {
    display: block;
    font-size: '20';
    font-family:  'Times New Roman', Times, serif;
  } 
      
  .buttoncolor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 100px;
  }

  .btn-cancel{
    color:green; 
    background-color: transparent; 
    border: 2px solid green; 
    border-radius: 5px; 
    text-transform: uppercase; 
  }

  .btn-save{
    color:white; 
    background-color: #99cc00; 
    border: 2px solid black; 
    border-radius: 5px; 
    text-transform: uppercase; 
  }
  