<form class="formwidth" [formGroup]="registerForm" method="POST" (ngSubmit)="SaveUserInfo(registerForm.value)">
    <div class="container">
        <mat-form-field>
            <input matInput placeholder="Enter your email" autofocus formControlName="email">
            <mat-error>
                <ng-template [ngIf]="registerForm.controls.email?.errors?.required">
                    Email is required.
                </ng-template>
                <ng-template [ngIf]="registerForm.controls.email?.errors?.email && registerForm.controls.email?.errors?.pattern">
                    Email is not fromat correctly.
                </ng-template>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide?'text':'password'" formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error>
                <ng-template [ngIf]="registerForm.controls.password?.errors?.required">
                    Password is required.
                </ng-template>
                <ng-template [ngIf]="registerForm.controls.password?.errors?.pattern">
                    Password is not fromat correctly.
                </ng-template>
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="registerForm.controls['password'].valid">
            <input matInput type="password" autocomplete="nope" placeholder="Confirm Password" formControlName="passwordConfirm">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error>
                <ng-template [ngIf]="registerForm.controls.passwordConfirm?.errors?.required">
                    Confirm Password is required.
                </ng-template>
                <ng-template [ngIf]="registerForm.controls['passwordConfirm'].pristine || registerForm.controls['passwordConfirm'].errors?.mismatch">
                    Password not match.
                </ng-template>
            </mat-error>
        </mat-form-field>
        <div class="buttoncolor">
            <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Submit</button>
        </div>

    </div>
</form>